body {
}
.ig-address {
    width:384px;
    margin:5px 0 5px 0;
}
.div-lnglat .input-group{
    width:384px;
    margin:3px 3px 3px 0;
}

#content-white {
    padding:8px;
    height:900px;
}
.areaD-head {
    /*width:40vw;*/
  
}
    .areaD-head button {
    margin-left:330px;
    }

