body {
}
.input-group {
    width:24vw;
    margin:1vw 0 0.5vw 1vw;
}
#cur_city {
    /*display:none;*/
}
#tooles {
    /*z-index:1;*/
opacity:0;
}
/*.search {
    z-index:2;
}*/

/*.tangram-suggestion-main {
    z-index:1060;
}*/

#container {
}
#edit {
    text-align:center;
}