@{
    ViewBag.Title = "骑手库存";
}
<script src="~/Scripts/webs/riderStock.js?201803121555"></script>
<link href="~/Content/webs/riderStock.css?201803121555" rel="stylesheet" />

<script>
    var riderId = '@ViewBag.riderId'
    var areaId = '@ViewBag.areaId'
</script>

<div id="content_header">
    <div class="input-group">
        <span class="input-group-addon">骑手姓名:</span>
        <span id="" type="text" class="form-control">@ViewBag.riderName</span>
    </div>
</div>


<div id="content-wapper">
    <div class="search1 ">
        <div id="div-search" class="fl">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary btnSearch1" type="button">
                        搜索
                    </button>
                </span>
            </div>
        </div>
        <div class="div-right1 fr">
            <button class="btn-add btn btn-primary">添加</button>
        </div>
        <div class="div-right2 fr">
            <button class="btn-batchDel btn btn-primary">批量移除</button>
        </div>
        <div class="fc"></div>
        <div id="content-white">
            <div id="table-wapper">
                <table id="main-table">
                    <thead>
                        <tr>
                            <th width="10%">
                                <input type="checkbox"></th>
                            <th width="15%">菜品</th>
                            <th width="15%">数量</th>
                            <th width="15%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>黄焖鸡
                            </td>
                            <td>100
                            </td>
                            <td>
                                <input class="foodId" type="hidden" value="">
                                <button class="btn-edit btn btn-primary">编辑</button>
                                <button class="btn-del btn btn-primary">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
