@{
    ViewBag.Title = "优惠码下载";
}
<script src="~/Scripts/webs/downCoupon.js?201803121555"></script>
<link href="~/Content/webs/downCoupon.css?201803121555" rel="stylesheet" />

<div id="div-search" class="fl">
    <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-primary btnSearch" type="button">
                搜索
            </button>
        </span>
    </div>
</div>

<div class="fc"></div>



<div id="content-white">
    <div id="table-wapper">
        <table id="main-table">
            <thead>
                <tr>
                    <th width="2%">
                        <input type="checkbox"></th>
                    <th width="15%">名称</th>
                    <th width="30%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox"></td>
                    <td>用户名</td>
                    <td>
                        <button class="btn-edit btn btn-primary">编辑</button>
                        <button class="btn-delete btn btn-primary">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
